<table class="table">
  <thead class="thead-dark">
    <tr class="row">
      <th class="col-md-3">Id</th>
      <th class="col-md-3">User Name</th>
      <th class="col-md-3">Title</th>
      <th class="col-md-3"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataPerPage" class="row">
      <td class="col-md-3">{{item.id}}</td>
      <td class="col-md-3">{{commonData.getUserName(item.userId)}}</td>
      <td class="col-md-3">{{item.title}}</td>
      <td class="col-md-3">
        <button type="button" class="btn btn-lg btn-outline-dark float-right"
          (click)="editPost(item)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="float-right">
  <pagination [totalItems]="posts.length" (pageChanged)="pageChanged($event)"></pagination>
</div>

